.title {
  text-align: center;
}

.control-columns {
  color-scheme: black;
}

.button.is-primary {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.button.button.is-primary:hover {
  background-color: #ff8ba7;
  color: black;
}
.button {
  padding-bottom: 50px;
  padding-top: 50px;
}
.hero {
  background: #dbf9f1c6;
}

.columns.section {
  text-align: center;
  font-weight: bold;
}
h2 {
  color: black;
}
body {
  background-color: #e1f1ed;
}

.card {
  font-weight: bold;
}
.card-content:first-child {
  background: white;
}
.card-image {
  background: white;
}

#weather-display {
  display: none;
}
.control {
  text-align: center;
}
.title {
  text-align: center;
}
#cloud-icon {
  height: 60px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.resultStl {
  font-size: 20px;
}
img {
  height: 175px;
  width: 175px;
}
.label {
  font-size: 24px;
  font-weight: bolder;
}
#card {
  color: rgb(7, 7, 90);
}
