
.control-columns {
  color-scheme: black;
  font-family: nunito;
}

body{background-color:#e1f1ed}


.button.is-primary {
  background-color: white;
  color: black;
  border: 2px solid white;
  font-family: nunito;
}

.button.button.is-primary:hover {
  background-color: #ff8ba7;
  color: black;
}

#weather-display {
  display: none;
}
.control {
  text-align: center;
}
.title {
  text-align: center;
}
#cloud-icon {
  height: 60px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.resultStl {
  font-size: 20px;
}
img{
  height:175px;
  width: 175px;
}
.label{
  font-size:24px;
  font-weight: bolder;
}
#card {
  background-color: #FEF6E4;
  color: rgb(7, 7, 90);
}