body {
  background-color: #e1f1ed;
}

/*Image px sizing*/
img {
  height: 175px;
  width: 175px;
}

/* header2 */
h2 {
  font-weight: bolder;
}

/* title*/
.title {
  text-align: center;
  font-family: snicker, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
}

.subtitle {
  font-weight: bolder;
}

.label2 {
  color: #ff8ba7;
  font-size: 30px;
  font-weight: bolder;
}

/*selection styling*/
.control {
  text-align: center;
}

.control-columns {
  color-scheme: black;
}

/*button styling*/
.button.is-primary #submit{
  background-color: white;
  color: black;
  border: 2px solid white;
  font-family: nunito;
}
.button.is-primary:hover {
  background-color: #ff8ba7;
  color: white;
}

.button #submit {
  color: black;
  font-family: nunito;
}

/*card result styling*/
.card {
  font-weight: bold;
}
.card-content:first-child {
  background: white;
}

.label {
  font-size: 24px;
  font-weight: bolder;
}

.card-image {
  background: white;
}

/* removed arrows next to drop down menu*/
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: transparent;
}

/*type, price, accessibility, participant card*/
#card {
  background-color: #fef6e4;
  color: rgb(7, 7, 90);
}

/*Weather and weather icon display styling*/
#weather-display {
  display: none;
}

#icon {
  height: 60px;
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*activity container */
#activity {
  text-align: center;
  font-family: snicker, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}
/*css for no activity found text*/
#noact{
  font-family: snicker, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: red;
}

.weather{
  font-size: 50px;
}

#icon{
  background-color: #ff8ba7;
  border-radius: 100px;
}